@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular);
@import url('http://fonts.cdnfonts.com/css/billabong');


.h1 {
  font-family: 'Billabong', 'BillabongW00-Regular';
  font-size: 1.5rem;
}
@font-face {
    font-family: "BillabongW00-Regular ";
    src: url("http://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.svg#BillabongW00-Regular ") format("svg"); /* iOS 4.1- */
}
